<%= turbo_frame_tag "new_message" do %>
  <div class="flex items-center">
      <div class="flex items-center bg-slate-800 rounded-lg  p-2">
          <p class="truncate max-w-50 text-white"><%= @message.content %></p>
          <%= link_to 'Destroy', chat_message_path(@chat, @message), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'mx-2 underline text-red-500 text-sm font-semibold' %>
      </div>

      <%= link_to "Cancel", chat_messages_url(@chat), class: "text-yellow-500 text-sm font-semibold ml-2" %>
  </div>

  <%= render "form", { chat: @chat, message: @message } %>
<% end %>
