<div data-current-user="<%= Current.user.name %>" hidden></div>

<% content_for :title, "Messages" %>

<div data-controller='scroll'>
    <div class='fixed top-20 flex justify-start items-center space-x-2'>
        <% if @participant.avatar.attached? %>
            <%= link_to image_tag(@participant.avatar, class: 'border-3 border-blue-600 object-cover rounded-full min-w-14 max-w-14 h-14'), identity_profile_path(@participant.name) %>
        <% else %>
            <div class="bg-gray-600 border-3 border-blue-600 object-cover rounded-full min-w-14 max-w-14 h-14"></div>
        <% end %>

        <h1 class="text-lg"><%= @participant.name %></h1>
    </div>

    <%= turbo_stream_from @chat %>
    <div id="messages" data-chat-id="<%= @chat.id %>" class="flex flex-col-reverse mb-22 mt-15">
        <%= render partial: "messages/message", locals: { chat: @chat }, collection: @page.records, as: :message %>
        <%= render "layouts/next_page_container", src: chat_messages_path(chat: @chat, page: @page.next_param, format: :turbo_stream) unless @page.last? %>
    </div>

    <div class="fixed bottom-0 container pr-10">
        <div class="mb-6 text-right">
            <button data-scroll-target="scrollButton" data-action="click->scroll#scrollToEnd" class="font-bold bg-black text-white rounded-full p-2">
                <svg class="w-3 h-3 text-right" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>

            <%= turbo_frame_tag "new_message" do %>
                <%= render "form", { chat: @chat, message: @chat.messages.build } %>
            <% end %>
        </div>
    </div>
</div>
