<div data-current-user="<%= Current.user.id %>"></div>

<% content_for :title, "Messages" %>

<div class="w-full" data-controller='scroll'>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-3">Messages</h1>
  </div>

  <%= turbo_stream_from @chat %>

  <div id="messages" data-chat-id="<%= @chat.id %>" class='pb-22'>
    <% @messages.each do |message| %>
      <%= render message, chat: @chat %>
    <% end %>
  </div>

  <div class="fixed bottom-0 w-full container">
    <div class="text-right mr-16">
      <button data-scroll-target="scrollButton" data-action="click->scroll#scrollToEnd" class="font-bold bg-yellow-100 rounded-full text-yellow-600 p-2">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
    </div>

      <%= turbo_frame_tag "new_message" do %>
        <% if notice.present? %>
          <p class="py-2 px-3 text-sm bg-green-50 my-1 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
        <% end %>

        <%= render "form", { message: @chat.messages.build } %>
      <% end %>
  </div>
</div>
