<% content_for :title, "Chats" %>

<div class="w-full">
  <% if notice.present? || alert.present? %>
    <p class="py-2 px-3 mb-5 text-green-500 font-medium rounded-md inline-block <%= 'bg-green-50 dark:bg-white' if notice.present? %> <%= 'bg-red-50 text-red-500' if alert.present? %>" id="notice">
      <%= notice || alert %>
    </p>
  <% end %>

  <h1 class="font-bold text-4xl mb-3">Chats</h1>

  <div id="chats" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% @chats.each do |chat| %>
      <div class="flex justify-between items-center">
        <%= render chat %>
        <div class="text-center">
          <%= link_to "Messages", chat_messages_path(chat), class: "text-center rounded-md p-2 bg-gray-600 hover:bg-gray-500 text-white font-medium" %>
          <%= button_to "Destroy", chat, method: :delete, class: "text-red-600 font-medium mt-3", data: { turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
