<%= turbo_frame_tag "tag" do %>
    <% if @tag.errors.any? %>
      <div id="error_explanation" class="inline-block bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <ul class="list-disc ml-6">
          <% @tag.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @tag, url: identity_tags_path) do |form| %>
    <div class="flex items-center space-x-2">
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: "block shadow-sm rounded-md border border-gray-300 focus:outline-blue-600 dark:bg-slate-600 px-2 py-1.5", onchange: "this.form.requestSubmit()" %>
      </div>
    </div>
  <% end %>
<% end %>
