<%= form_with(url: identity_avatar_path, method: :patch) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="list-disc ml-6">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, accept: "image/png, image/jpeg, image/gif", class: "block shadow-sm rounded-md border border-gray-200 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or GIF.</p>
  </div>

  <div class="col-span-6 sm:flex sm:items-center sm:gap-4 mb-3">
    <div class="inline">
      <%= form.submit "Update avatar", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>

  <%= link_to 'Back to profile', identity_profile_path(@user), class: 'text-gray-700 underline hover:no-underline' %>
<% end %>
