<nav class="sticky top-0 border-t-3 border-black bg-white dark:bg-slate-600 shadow-sm mb-12 z-10">
  <div class="container mx-auto p-3 flex flex-wrap items-center justify-between">
    <h1>
      <%= link_to 'AscendMentor', root_path, class: 'text-2xl font-bold bg-gradient-to-r from-blue-500 to-black dark:to-white inline-block text-transparent bg-clip-text' %>
    </h1>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center justify-center text-md focus:text-orange-600 md:hidden" aria-controls="navbar-default" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-300 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <%= link_to 'Home', root_path, class: 'block py-2 px-3 text-blue-500 bg-blue-200 rounded-sm md:bg-transparent hover:bg-blue-200 md:py-2 md:px-3'%>
        </li>
        <% if authenticated? %>
            <li>
              <%= link_to 'Chats', chats_path, class: 'block py-2 px-3 rounded-sm hover:bg-gray-200 hover:text-black md:py-2 md:px-3' %>
            </li>
            <li>
              <%= link_to 'Profiles', identity_profiles_path, class: 'block py-2 px-3 rounded-sm hover:bg-gray-200 hover:text-black md:py-2 md:px-3' %>
            </li>
            <li>
              <%= link_to 'Account', identity_account_path(Current.user), class: 'block py-2 px-3 rounded-sm hover:bg-gray-100 hover:text-black md:py-2 md:px-3' %>
            </li>
            <li>
              <%= button_to 'Log out', Current.session, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'block py-2 px-3 text-red-600 rounded-sm bg-red-100 md:py-2 md:px-3' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
